body {
    background-color: white;
    color: #c9d1d9;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
}

h2 {
    color: #161b22;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.product-item {
    background-color: #3e3e3e;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;
}

.product-item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.product-image {
    height: 300px;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.product-item:hover .product-image {
    transform: scale(1.05);
    opacity: 1;
}

.centered-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #161b22;
}

@media (max-width: 1200px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-image {
        height: 250px;
    }
}

@media (max-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-image {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-image {
        height: 180px;
    }
}

@media (max-width: 400px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
    .product-image {
        height: 150px;
    }
}